/* CSS Document */
.font_1{
    color: #464646;
	font-size:15px;
    font-family: "Microsoft YaHei","ו";
}

dd, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p {
    margin: 0;
    padding: 0;
}
h2.title{
text-align:center;
    padding-top: 10px;

}
.font_1 a {
    color: #e80000;
    margin: 0;
    outline: medium none;
    padding: 0;
    text-decoration: none;
}
img {
    border: 0 none;
}
.line {
    margin: 10px 0;
}
.content {
    padding: 10px;
}

.cover_pre dl {
    border-bottom: 1px dashed #a8a8a8;
    height: 170px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}
.cover_pre dt {
    float: left;
    width: 228px;
}

.cover_pre dd {
    float: left;
    padding-left: 10px;
    width: 470px;
}
.cover_pre dd h5 {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 5px;
}
.cover_pre dt img {
    border: 1px solid #d8d8d8;
    height: 166px;
    padding: 1px;
    width: 224px;
}
.cover_pre dd p {
    font-size: 12px;
    height: 70px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.peo {
    font-size: 12px;
    font-weight: normal;
}


.button_t {
    font-size: 12px;
    line-height: 22px;
    padding-left: 10px;
}

.detail_bg {
    background: rgba(0, 0, 0, 0) url("http://task.csdn.net/images/task/bg_detail.jpg") no-repeat scroll left top;
    color: #ffffff;
    display: inline-block;
    line-height: 18px;
    margin: 0 5px;
    text-align: center;
    width: 33px;
}
.score {
    color: #ab0c13;
}
.button {
    padding: 10px 0;
}
.button img {
    vertical-align: bottom;
}

/*detail_con*/
.detail_left {
    float: left;
    width: 257px;
    background: #e9e9e9;
    height: 319px;
    padding: 10px;
}
.detail_text {
    font-size: 14px;
    color: #333;
    line-height: 24px;
    margin-top: 10px;
}
.jifen {
    font-size: 16px;
    color: 464646;
    line-height: 26px;
}
.jf {
    color: #a3060d;
}
.number {
    font-size: 12px;
    line-height: 22px;
}
.but_2 {
    margin-top: 10px;
    text-align: center;
}
.detail_con_pic {
    float: left;
}
.detail_right {
    float: left;
    background: #ebebeb;
    height: 311px;
    width: 367px;
    margin-top: 8px;
    padding: 10px 20px;
}
.detail_right_pic img {
    padding: 3px;
    border: 1px solid #d8d8d8;
    background: #fff;
    width: 357px;
    height: 281px;
}
.fenxiang {
    margin-top: 5px;
    font-size: 12px;
}
.fenxiang span {
    padding: 1px;
}
.fenxiang a {
    color: #e80000;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
.text_con_detail {
    padding: 10px;
}
.text_con_detail h5 {
    font-size: 14px;
    color: #333;
    font-family: "Microsoft YaHei","ו";
    line-height: 24px;
    margin-top: 20px;
}
.text_con_detail p {
    font-size: 12px;
    line-height: 24px;
    margin: 10px 0;
}

